html,
body {
  margin: 0;
  padding: 0;
  background: black;
  font-weight: 600;
  font-family: 'Arial', 'Calibri', sans-serif;
}

button,
.btn {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  border: none;
  margin: 1rem 0; /* alleen boven/onder */
  cursor: pointer;
  font-weight: bold;
  font-size: 2rem;
  background: yellow;
  color: blue;
}

button:hover,
.btn:hover {
  background: blue;
  color: yellow;
}

.close-btn {
  all: unset;
  font-family: inherit;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 6px 12px;
  color: blue;
  background: yellow;
  border-radius: 8px;
}

.close-btn:hover {
  background: blue;
  color: yellow;
}

.center-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.popupText{
  font-size: 1.5rem;
}
