html,
body {
  margin: 0;
  padding: 0;
  background: black;
  font-weight: 600;
  font-family: 'Arial', 'Calibri', sans-serif;
}

button,
.btn {
  text-decoration: none;
  display: inline-block;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  border: none;
  margin: 1rem 0; /* alleen boven/onder */
  cursor: pointer;

  font-size: 2rem;
  background: yellow;
  color: blue;
}
button:hover,
.btn:hover {
  background: blue;
  color: yellow;
}

.center-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}


